/* longhand */
header{
  background-image: url(kieutrinh.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 0px;
  height: 450px;
  position: relative;
}
/* shorthand */
header{
  background: url(kieutrinh.jpg) no-repeat scroll 0px 0px;
  height: 450px;               
  position: relative;
}
.alpha-bg{
  background-color: rgba(187, 224, 154, 0.36);
  display: block;
  height: 100%;
}
.title{
  font-size: 3em;
  position: absolute;
  color: #0D883E;
  top: 60%;
  left:10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}