.parent{
  
}
.parent .btn{
  float: right;
}
.mother{
  
}
.mother .inlinestyle{
  display: inline;
  background-color: rgba(25, 231, 87, 0.91);
}
.mother .blockstyle{
  display: block;
  background-color: rgba(118, 224, 19, 0.91);
}