.main{
  height: 450px;
  display: block;
}
.main .left, .main .right{
  height: 100%;
  display: inline-block;
  float: left;
}
.main .left{
 width: 80%;
}
.main .right{
 width: 20%;
 padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}
.main .left,main .right{
  height: 100%;
}
.main .left img{
  height: 100%;
  width: 100%;
}
@media (max-width:800px) {
  .main .right{
    display: none;
  }
  .main .left{
    width: 100%;
  }
}