.parent{
  position: relative;
}
.parent .relative{
  position: relative;
  top: 10;
  left: 10;
}
.parent .absolute{
  position: relative;
  left: 60px;
  bottom: 10px;
}
.parent .fixed{
  position: fixed;
  right: 0;
  top:0;
}
