.parent{
  background-color: #000000;
  height: 300px;
  width: 400px;
  position: relative;
}
.parent .child1{
  background-color: #128345;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 2;
  padding: 10px;
}
.parent .child2{
  background-color: #832312;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 1;
  top: 20px;
  padding: 10px;
  left: 20px;
}
.parent .child3{
  background-color: #E213B5;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 3;
  top: 10px;
  padding: 10px;
  left: 10px;
}